.doctor .main {
    border       : #585858 2px solid;
    border-radius: 3px;
    width        : 1200px;
    margin       : 0 auto;
    margin-bottom: 50px;
}

.doctor {
    margin: 50px 0 50px;
}

.doctor h4 {
    margin-bottom: 25px;
    padding-left : 40px;
}

.doctor h3 {
    margin-bottom: 0;
}

.doctor h4 a {
    color      : #585858;
    font-weight: 800;
    font-size  : 18px;
}

.doctor .main li {
    list-style   : none;
    margin-bottom: 15px;
}

.doctor li a {
    font-size: 16px;
    color    : #585858;
}

.doctor .yello a,
.doctor .button-style-yello {
    color: #ffc600
}

.doctor .red a,
.doctor .button-style-red {
    color: rgb(255, 107, 107)
}

.doctor .blue a,
.doctor .button-style-blue {
    color: rgb(123, 213, 255)
}

.btn-default:hover {
    background-position: 0;
}

.ul-yello li:hover a {
    color: #ffc600
}

.ul-red li:hover a {
    color: rgb(255, 107, 107)
}

.ul-blue li:hover a {
    color: rgb(123, 213, 255)
}

.doctor .main-row {
    margin-top   : 60px;
    margin-bottom: 30px;
}

.logo-doctor {
    display     : block;
    padding-left: 55px;
    margin-top  : 25px;
    /* position: absolute; */
    /* top: 0px; */
}

.doctor .header {
    border-bottom: 2px #585858 solid;
    /* position: relative; */
    height: 108px;
}

.doctor .title {
    margin-top: 10px;
}

.doctor .title h3 {
    font-weight: 800;
    font-size  : 30px;
}

.doctor .title span {
    font-size: 18px;
    color    : rgb(195, 195, 195)
}

.doctor .button-style {
    height                    : 54px;
    width                     : 160px;
    border-bottom             : none;
    background-color          : #fff;
    font-size                 : 18px;
    border-radius             : 10px;
    border-bottom-left-radius : 0px;
    border-bottom-right-radius: 0px;
    font-weight               : 900
}

.doctor .button-b {
    padding-top: 52px;
}

.show-grid {
    margin: 0 auto;
}