.articlBox {
    background: #f2f2f2;
    overflow  : hidden;

    >.articlMain {
        margin-top   : 60px;
        border       : 2px solid #dedede;
        margin-bottom: 30px;
        background   : #fff;

        .mainTitle {
            padding-left: 50px;

            >h4 {
                margin-top : 35px;
                font-size  : 30px;
                font-weight: 600;
            }

            >p {
                margin-top   : 30px;
                font-size    : 22px;
                font-weight  : 300;
                margin-bottom: 50px;
                line-height  : 40px;
            }
        }

        .media {
            border-top    : 1px solid #e9e9e9;
            padding-top   : 30px;
            padding-bottom: 30px;
            padding-left  : 40px;
            cursor        : pointer;

            >.media-left {
                width       : 230px;
                height      : 180px;
                margin-right: 40px;

                >img {
                    width     : 100%;
                    height    : 100%;
                    transition: all 1s;

                }
            }

            >.media-body {
                height       : 180px;
                padding-right: 20px;
                overflow     : hidden;
                text-overflow: ellipsis;

                // white-space: nowrap;

                >.author {
                    text-align   : right;
                    padding-right: 20px;

                }

                >h4 {
                    overflow     : hidden;
                    text-overflow: ellipsis;
                    white-space  : nowrap;
                }
            }
        }

        .media:hover {
            background: rgba(31, 30, 30, 0.1);

            img {
                transform: scale(1.1);
            }
        }


    }

    >.articlPages {
        text-align   : center;
        margin-bottom: 30px;

        nav {
            display: inline-block;

        }

        ul {
            // display: inline-block;
            margin: 0 auto;
        }
    }
}