body {
    font-size: 18px;
}

.bigContent {
    margin-top   : 56px;
    margin-bottom: 100px;
}

.leftContent {
    padding   : 40px;
    box-sizing: border-box;
    border    : 2px solid #999;
}

.leftContent img {
    width: 780px;
}

#docImg {
    margin: 0 auto;
}

#docImg>img {
    widows       : 160px;
    height       : 160px;
    border-radius: 50%;
}

#rightDoctor {
    border     : 2px solid #999;
    border-left: none;
    height     : 850px;
}

.rightContent {
    padding    : 20px;
    margin-left: -1rem;
    margin-top : 5px;

}