.carousel-inner > div {
  width: 100%;
}

.carousel-inner > div > img {
  width: 100%;
  max-height: 500px;
}

.tips-title {
  height: 64px;
  background: #4ebec0;
}

.tips-title h5 {
  font-size: 24px;
  line-height: 64px;
  color: #fff;
}

.tips-content {
  background: #353633;
  height: 220px;
}

.tips-content label {
  font-size: 18px;
  color: #fff !important;
  margin: 0 !important;
  cursor: pointer;
}

.tips-content input {
  background: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  width: 308px;
  outline: none;
  color: #fff;
  font-size: 24px;
  margin-top: 35px;
}

.tips-content div {
  padding: 0;
  text-align: center;
}

.tips-content .speed-btn {
  text-align: right;
  margin-top: 84px;
}

.tips-content .speed-btn button {
  width: 164px;
  height: 46px;
  border-radius: 23px;
  font-size: 18px;
}

.main-conent .row {
  text-align: center;
}

.main-conent .row h4 {
  display: inline-block;
  font-size: 32px;
  color: #000;
  border-bottom: 10px solid #4ebec0;
  padding-bottom: 15px;
  margin-top: 100px;
}

.main-conent .card {
  margin-top: 65px;
  width: 360px;
  height: 620px;
  text-align: center;
  position: relative;
}

.main-conent .card > img {
  display: inline-block;
  margin: 0 auto;
  border-radius: 50%;
  margin-top: 58px;
}

.main-conent .card > .card-body {
  margin-top: 65px;
  padding: 0;
}

.main-conent .card > .card-body > .card-title {
  font-size: 24px;
}

.main-conent .card > .card-body > .card-title > span {
  font-size: 16px;
  margin-left: 10px;
}

.main-conent .card > .card-body > .card-subtitle {
  font-size: 14px;
  color: #878787;
  margin-top: 25px;
}

.main-conent .card > .card-body > .link-tip {
  background: #c03131;
  position: absolute;
  bottom: 0;
  width: 380px;
}

.main-conent .card > .card-body > .link-tip > .left {
  float: left;
  margin-left: 30px;
}

.main-conent .card > .card-body > .link-tip > .right {
  float: right;
  margin-right: 30px;
}

.main-conent .card > .card-body > .link-tip > .card-link {
  line-height: 40px;
  font-size: 18px;
  color: #fff;
}

.main-conent .card > .card-body > .link-tip > .card-link > img {
  width: 30px;
  height: 30px;
}
