$maincolor:#4ebec0;

.carousel-inner>div {
    width: 100%;

    >img {
        width     : 100%;
        max-height: 500px;

    }
}

.tips-title {
    height    : 64px;
    background: $maincolor;

    h5 {
        font-size  : 24px;
        line-height: 64px;
        color      : #fff;
    }


}

.tips-content {
    background: #353633;
    height    : 220px;

    label {
        font-size: 18px;
        color    : #fff !important;
        margin   : 0 !important;
        // vertical-align: baseline;
        // display       : inline-block
        cursor: pointer;
    }

    input {
        background   : transparent;
        border       : none;
        border-bottom: 1px solid #fff;
        width        : 308px;
        outline      : none;
        color        : #fff;
        font-size    : 24px;
        margin-top   : 35px;
    }

    div {
        padding   : 0;
        text-align: center;
    }

    .speed-btn {
        text-align: right;
        margin-top: 84px;

        button {
            width        : 164px;
            height       : 46px;
            border-radius: 23px;
            font-size    : 18px;
        }
    }
}

.main-conent {

    .row {
        text-align: center;

        h4 {
            display       : inline-block;
            font-size     : 32px;
            color         : #000;
            border-bottom : 10px solid $maincolor;
            padding-bottom: 15px;
            margin-top    : 100px;
        }
    }

    .card {
        margin-top: 65px;
        width     : 360px;
        height    : 620px;
        text-align: center;
        position  : relative;

        >img {
            display      : inline-block;
            margin       : 0 auto;
            border-radius: 50%;
            margin-top   : 58px;
        }



        >.card-body {
            margin-top: 65px;
            padding   : 0;

            >.card-title {
                font-size: 24px;

                >span {
                    font-size  : 16px;
                    margin-left: 10px;
                }
            }

            >.card-subtitle {
                font-size : 14px;
                color     : #878787;
                margin-top: 25px;

            }

            >.link-tip {
                background: #c03131;
                position  : absolute;
                bottom    : 0;
                width     : 380px;

                >.left {
                    float      : left;
                    margin-left: 30px;
                }

                >.right {
                    float       : right;
                    margin-right: 30px;
                }

                >.card-link {
                    line-height: 40px;

                    >img {
                        width : 30px;
                        height: 30px;

                    }

                    font-size: 18px;
                    color    : #fff;
                }
            }

        }
    }

}