.carousel-inner > div {
  width: 100%;
}

.carousel-inner > div > img {
  width: 100%;
  max-height: 500px;
}

.tips-title {
  height: 64px;
  background: #4ebec0;
}

.tips-title h5 {
  font-size: 24px;
  line-height: 64px;
  color: #fff;
}

.tips-content {
  background: #353633;
  height: 220px;
}

.tips-content label {
  font-size: 18px;
  color: #fff !important;
  margin: 0 !important;
  cursor: pointer;
}

.tips-content input {
  background: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  width: 308px;
  outline: none;
  color: #fff;
  font-size: 24px;
  margin-top: 35px;
}

.tips-content div {
  padding: 0;
  text-align: center;
}

.tips-content .speed-btn {
  text-align: right;
  margin-top: 84px;
}

.tips-content .speed-btn button {
  width: 164px;
  height: 46px;
  border-radius: 23px;
  font-size: 18px;
}

.main-conent .row {
  text-align: center;
}

.main-conent .row h4 {
  display: inline-block;
  font-size: 32px;
  color: #000;
  border-bottom: 10px solid #4ebec0;
  padding-bottom: 15px;
  margin-top: 100px;
  padding-left: 0;
}

.main-conent .doctor_card .card {
  margin-top: 65px;
  width: 360px;
  height: 580px;
  text-align: center;
  transition: all .5s;
  position: relative;
  cursor: pointer;
}

.main-conent .doctor_card .card > img {
  display: inline-block;
  margin: 0 auto;
  border-radius: 50%;
  margin-top: 50px;
}

.main-conent .doctor_card .card > .card-body {
  margin-top: 65px;
  padding: 0;
}

.main-conent .doctor_card .card > .card-body > .card-title {
  font-size: 24px;
}

.main-conent .doctor_card .card > .card-body > .card-title > span {
  font-size: 16px;
  margin-left: 10px;
}

.main-conent .doctor_card .card > .card-body > p {
  padding: 0 30px;
}

.main-conent .doctor_card .card > .card-body > .card-subtitle {
  font-size: 14px;
  color: #878787;
  margin-top: 25px;
}

.main-conent .doctor_card .card > .card-body > .link-tip {
  background: #c03131;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.main-conent .doctor_card .card > .card-body > .link-tip > .left {
  float: left;
  margin-left: 30px;
}

.main-conent .doctor_card .card > .card-body > .link-tip > .right_link {
  float: right;
  margin-right: 30px;
  background: transparent;
}

.main-conent .doctor_card .card > .card-body > .link-tip > .card-link {
  line-height: 40px;
  font-size: 18px;
  color: #fff;
}

.main-conent .doctor_card .card > .card-body > .link-tip > .card-link > img {
  width: 30px;
  height: 30px;
}

.main-conent .doctor_card .card:hover {
  box-shadow: 3px 3px 20px #aaa, -3px -3px 20px #aaa;
}

.main-conent .doctor_card .card:hover .link-tip {
  background: #4ebec0;
}

.main-conent .toghter {
  background: #4ebec0;
  text-align: center;
  height: 220px;
  margin-top: 55px;
  overflow: hidden;
}

.main-conent .toghter .toghter-box {
  margin-top: 55px;
}

.main-conent .toghter .toghter-box > div {
  color: #fff;
  display: inline-block;
  margin: 0 auto;
}

.main-conent .toghter .toghter-box > div > img {
  height: 63px;
}

.main-conent .toghter .toghter-box > div p {
  margin-top: 25px;
  font-size: 18px;
}

.main-conent .health {
  margin-top: 80px;
  position: relative;
}

.main-conent .health img {
  height: 100%;
  width: 100%;
}

.main-conent .health .articlList {
  position: absolute;
  bottom: 0;
  width: 100%;
  list-style: none;
  text-align: left;
  margin: 0;
  padding-left: 30px;
  padding-right: 30px;
  color: #000;
}

.main-conent .health .articlList > li {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 12px 0;
  cursor: pointer;
  font-size: 16px;
}

.main-conent .health .articlList > li:hover {
  text-decoration: underline;
}

.main-conent .health .answers {
  border: 1px solid #4ebec0;
  text-align: left;
}

.main-conent .health .answers > div:hover {
  color: #4ebec0;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.main-conent .health .answers h3 {
  width: 100px;
  font-size: 24px;
  border-bottom: 1px solid #000;
  padding-bottom: 10px;
  margin-top: 20px;
}

.main-conent .health .answers p {
  font-size: 16px;
  height: 34px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
