.footer {
    background: #353633;
    // height     : 380px;
    padding-top: 53px;
    color      : #fffffe;

    #logo_btm {
        height: 58px;
        width : 192px;
    }

    h5 {
        font-size    : 20px;
        margin-bottom: 33px;
        margin-top   : 10px;
        color        : #fff;

        >img {
            width       : 24px;
            height      : 24px;
            margin-right: 12px;
        }
    }

    .btm-mid {

        >.phone {
            font-size    : 18px;
            margin-bottom: 20px;

        }

        hr {
            background: #b5b5b5;
        }

        #mid-mid {
            >p {
                margin-bottom: 20px;
            }
        }
    }

    p {
        font-size: 16px;
    }

    .btm-right {
        text-align: center;

        p {

            >a {
                display: inline-block;

                >img {
                    width : 28px;
                    height: 28px;
                }

                margin-right: 10px;
            }
        }
    }

    >hr {
        background: #dcdcdc;
    }

    .btm-btm {
        text-align    : center;
        padding-bottom: 20px;

        >p {
            margin   : 0;
            font-size: 12px !important;

        }
    }
}