.footer {
  background: #353633;
  height: 380px;
  padding-top: 53px;
  color: #fffffe;
}

.footer #logo_btm {
  height: 58px;
  width: 192px;
}

.footer h5 {
  font-size: 20px;
  margin-bottom: 33px;
  margin-top: 10px;
  color: #fff;
}

.footer h5 > img {
  width: 24px;
  height: 24px;
  margin-right: 12px;
}

.footer .btm-mid > .phone {
  font-size: 18px;
  margin-bottom: 20px;
}

.footer .btm-mid hr {
  background: #b5b5b5;
}

.footer .btm-mid #mid-mid > p {
  margin-bottom: 20px;
}

.footer p {
  font-size: 16px;
}

.footer .btm-right {
  text-align: center;
}

.footer .btm-right p > a {
  display: inline-block;
  margin-right: 10px;
}

.footer .btm-right p > a > img {
  width: 28px;
  height: 28px;
}

.footer > hr {
  background: #dcdcdc;
}

.footer .btm-btm {
  text-align: center;
  font-size: 12px;
}
