.navbar-nav>li>a {
    color: #fff !important;
    /* margin-right: 80px; */
}

.navbar {
    height       : 60px;
    font-size    : 18px;
    margin-bottom: 0;

}

.navbar-nav>li {
    text-align: center;
    height    : 60px;

    >a {
        display        : block;
        padding        : 0 20px;
        line-height    : 60px;
        text-decoration: none;
    }
}

#search {
    background   : transparent;
    outline      : none;
    border       : none;
    border-bottom: 1px solid #fff;
    color        : #fff;
    width        : 330px;
    margin-top   : 18px;
    font-size    : 14px;
    margin-left  : 20px;
}

#search::-webkit-input-placeholder {
    color    : #fff;
    font-size: 14px;
}

#searchicon {
    width : 22px;
    height: 22px;
    cursor: pointer;
}

#top_top {
    background: #353633;
    height    : 44px;
    color     : #fff;
}

#top_top h6 {
    line-height: 44px;
    font-size  : 12px;

}

.active {
    background: #fd9115 !important;
}

#top_mid {
    line-height: 100px;
    text-align : center;
}

#sign {
    /* float        : right; */
    width        : 164px;
    font-size    : 18px;
    height       : 46px;
    border-radius: 23px;
    /* margin-top   : 27px; */
    /* margin-left: 100px; */
    background: #84c225;
}

#sign_box {
    text-align: right
}

#phone-icon {
    width : 18px;
    height: 16px;
}

#telphone {
    font-size  : 12px;
    line-height: 44px;
    text-align : right
}

#telphone span {
    display: inline-block;
    /* line-height: 20px; */
    margin-left: 5px;
    /* margin-top : 5px; */
}