@charset"utf-8";
.introduceD-box{

//医生介绍顶部样式
.idoc-top{
    padding:2% 3%;
    margin-top:40px;
   border:2px solid #989898;
   background-color: #f8f8f8;

    .doc-touxiang{
        width: 70%;
        height: 70%;
        border-radius: 50%;
    }
    .top-center{

        h2{
            font-size: 24px;
            color:#151515;
        }
        span{
            font-size: 16px;
        }
        p{
            font-size: 16px;
            margin-top:8px;
        }
    }


   .mbtn{
       display: inline-block;
       padding: 0 12px;
       background-color: #fff;
       color:#4daed7;
       border:1px solid #4daed7;
       border-radius: 15px;
       transition: 0.3s;
       line-height: 20px;

       &:hover{
           cursor: pointer;
           background-color: rgb(145, 182, 145);
           color:#fff;
           border:1px solid rgb(145, 182, 145);
       }

   }
   .mbtn:first-child{
       margin-right:15px;
   }
   .mbtn:nth-child(2){
       margin-left: 15px;
   }
}


// 从业年限与评分部分
.idoc-mid{
    padding:2% 3%;
    margin-top:40px;
   border:2px solid #989898;
   background-color: #f8f8f8;

   p{
       font-size: 18px;
       font-weight: 600;
       margin:0;
       span{
           font-size: 30px;
           color:#4daed7;
       }
   }
   .star{
       p{
           margin-bottom:10px;
           font-size: 14px;
       }

       span{
           color:rgb(241, 238, 59);
           font-weight: 600;
           strong{
               font-size: 30px;
               font-weight: 600;
           }
       }
   }
}

// 个人简历部分
.idoc-jianjie{
    padding:2% 2%;
    margin-top:40px;
//    border:2px solid #989898;
//    background-color: #f8f8f8;
    h2{
        font-size: 30px;
        color:#151515;

    }
    p{
        width: 100%;
        margin-top:15px;
        padding-bottom:10px;
        padding-left: 15px;
        font-size: 24px;
        color:#666565;
        border-bottom: 2px solid #666666;
    }
}

// 医院信息部分
.idoc-hosmsg{
    .row{
        margin:0;
    }
    padding:2% 3.8%;
    margin-top:40px;
    border:2px solid #989898;
    background-color: #f8f8f8;

    h2{
        font-size: 30px;
        color: #151515;
    }
    img{
        width: 26px;
        height: 26px;
        margin-top:8px;
    }
    p{
        padding-left: 15px;
        font-size: 26px;
        color:#4fbec1;
    }
}



//预约挂号部分
.idoc-yuyue{
    .row{
        margin:0;
    }
    padding:2% 3.8%;
    margin-top:40px;
    border:2px solid #989898;
    background-color: #f8f8f8;
    h2{
        font-size: 30px;
        color: #151515;
    }
    .yuyue-keshi{
        border:2px solid #4daed7;
        font-size: 24px;
        color:#4daed7;
        line-height: 28px;
        height: 36px;
        padding-left: 8px;
        padding-right: 8px;
        padding-bottom: 2px;
        margin-left: 25px;
    }
    h3{
        font-size: 24px;
        color:#151515;
    }


    // 可预约时间表
    .yuyue-time{
        table{
            margin-left: 25px;
            .tab-tr{
                border-bottom: 1px solid #bbb;
                a{
                    display: block;
                    width: 60px;
                    line-height: 16px;
                    border:1px solid #4daed7;
                    padding:3px 0;
                    margin:5px auto;
                    text-decoration: none;
                    border-radius: 15px;
                }
            }
        }
        td{
            line-height:34px ;
            width: 80px;
        }
        .tab-first{
            background-color: #4fbec1;
        }
        .yuyue-week{
            background-color: #ccc;
        }
        .day-time{
            background-color: #ccc;
        }
    }
}

}